<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/menu.ejs') %>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-10">
          <% if (errorMessage.length > 0) { %>
          <div class="alert alert-danger mb-3" role="alert">
            <%= errorMessage %>
          </div>
          <% } %>
          <form
            action="/auth/login"
            method="post"
            class="bg-white p-4 rounded shadow-lg"
            novalidate
          >
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control <%=
              validationErrors.find(e => e.path === 'email') ? "border-danger" :
              "" %>" id="email" value="<%= oldInput?.email %>" />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control <%=
              validationErrors.find(e => e.path === 'password') ?
              "border-danger" : "" %>" id="password" value="<%=
              oldInput?.password %>" />
            </div>
            <a href="/auth/reset" class="mb-3 d-inline-block text-link"
              >Reset password?</a
            >
            <div class="text-center">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../includes/end.ejs') %>
  </body>
</html>
